*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
    background: #fff;
}
.container{
    width: 100%;
    padding: 10px;
}
ul {
    display: flex;
    justify-content: flex-start;
    list-style-type: none;
    background: teal;
    padding: 10px;
}
ul li {
    padding: 10px;
    
    text-transform: uppercase;
}

ul li a {
    text-decoration: none;
    padding: 20px;
    color: white;
}
ul li a:hover{
    background: pink;
}