*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container{
    width: 100%;
}
ul {
    display: flex;
    justify-content: flex-start;
    list-style-type: none;
    background: teal;
    padding: 10px;
}
ul li {
    padding: 10px;
    text-transform: uppercase;
}

ul li a {
    text-decoration: none;
    padding: 20px;
    color: white;
}
ul li a:hover{
    background: pink;
}
.flex{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;
}
fieldset{
    margin-top: 30px;
    width: 550px;
    height: 400px;
    background: cyan;
}
h3{
    padding-top: 20px;
}
.map{
    margin-top: 30px;
}
.form-contact{
    display: flex;
    justify-content: center;
    text-align: center;
}
input[type="text"]{
    width: 500px;
    height: 5vh;
}
#message{
    width: 500px;
    height: 10vh;
}
input[type="reset"]{
    width: 250px;
    height: 7vh;
    background: orange;
    border-radius: 40px;
}
input[type="submit"]{
    width:250px;
    height: 7vh;
    border-radius: 40px;
    background: teal;
}

.icon{
    display: flex;
    margin-top:5%;
}
a i{
    width: 50px;
}
footer{
    margin-top: 5%;
    background:rgb(4, 20, 20);
    display:flex;
    justify-content: center;
    align-items: center;
    padding:10px;

}
@media(max-width:600px){
    
}
