*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.container{
    width: 100%; 
}

ul {
    display: flex;
    justify-content: flex-start;
    list-style-type: none;
    background: teal;
    padding: 10px;

}
ul li {
    padding: 10px;
    text-transform: uppercase;
}

ul li a{
    text-decoration: none;
    padding: 20px;
    color: white;
}
ul li a:hover{
    background: pink;
}

.container-bo{
    background: url('../image/p.jpg');
    background-size: cover;
    height: 95vh;
}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.text1{
    height: 50%;
    margin-top: 30%;
}
h1{
    color: teal;
    font-size: 40px;
    padding-top: 40px;
}
h4{
    color: #fff;
    background: rgb(3, 92, 92);
    padding: 50px;
    display: flex;
    justify-content: center;
    text-align: center;
}
.icon{
    margin-top: 40px;
    display: flex;
    justify-content:flex-end; 
    text-align: end;
}
a i{
    width: 50px;
}
footer{
    padding: 10px;
    background: rgb(28, 94, 94);

}