*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.container{
    width: 100%; 
}

ul {
    display: flex;
    justify-content: flex-start;
    list-style-type: none;
    background: teal;
    padding: 10px;

}
ul li {
    padding: 10px;
    text-transform: uppercase;
}

ul li a{
    text-decoration: none;
    padding: 20px;
    color: white;
}
ul li a:hover{
    background: pink;
}

.container-bo{
    background: url('../image/p.jpg');
    background-size: cover;
    height: 120vh;
}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.text1{
    height: 50%;
    margin-top: 30%;
}
h1{
    color: rgb(253, 38, 199);
    font-size: 40px;
    padding-top: 20px;
}
h3{
    display: flex;
    color: blue;
    justify-content: center;
    text-align: start;
}
img{
   width: 30px; 
   
}
 #c1{
     width: 35px;
 }
footer{
    padding: 10px;
    background: rgb(6, 32, 32);
    color: white;
    text-align: center;
}