*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.container{
    width: 100%;
}
ul {
    display: flex;
    justify-content: flex-start;
    list-style-type: none;
    background: teal;
    padding: 10px;

}
ul li {
    padding: 10px;
    text-transform: uppercase;
}

ul li a{
    text-decoration: none;
    padding: 20px;
    color: white;
}
ul li a:hover{
    background: pink;
}
.grid {
    display: flex;
    justify-content: space-between;
}
.img {
    padding: 5px;
    display: flex;
    
}
.img img {
    width: 49%;
    height: 70vh;
    margin: 5px;
    
}

.icon{
    display: flex;
    justify-content: space-between;
    margin-top:5%;
}
a i{
    width: 50px;
}
footer{
    background:rgb(4, 20, 20);
    display:flex;
    justify-content: center;
    align-items: center;
    padding:10px;

}
