*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
/* body{
    background: turquoise;
} */
.container{
    width: 100%;
}
ul {
    display: flex;
    justify-content: flex-start;
    list-style-type: none;
    background: teal;
    padding: 10px;
    width: auto;
}
ul li {
    padding: 10px;
    
    text-transform: uppercase;
}

ul li a {
    text-decoration: none;
    padding: 20px;
    color: white;
}
ul li a:hover{
    background: pink;
}
.grid-cv{
    display: grid;
    grid-template-columns: 1fr 4fr;
}
.title{
    border-bottom: 3px solid rgb(20, 194, 218);
    padding-top: 10px;
    background: rgb(233, 233, 224);
}
.title p{
    padding: 10px;
    font-size: 15px;
    color: rgb(8, 8, 8);
}
.pic{
    background: rgb(233, 233, 224);
    border-bottom: 3px solid rgb(20, 194, 218);
}
#pic-profile{
    width: 70%;
    height: 70%;
}
.info{
    background: rgb(116, 122, 122);
}
h2{
    color: #9b0a5a; 
}
h5{
    color: #fff;
}
h4{

    color:rgb(5, 13, 41);
}
p{
    color: white;
}
h1{
    text-transform: uppercase;
    font-size: 50px;
    color: #fff;
}
.inform-text{
    background: #00AF91;
}
.icon{
    display: flex;
    justify-content: space-between;
}
a i{
    width: 50px;
}
footer{
    background:rgb(4, 20, 20);
    display:flex;
    justify-content: center;
    align-items: center;
    padding:50px;

}
@media (max-width:)